@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes bgSlider {
  0% {
    background-image: url('https://media.istockphoto.com/id/1496035513/vector/realistic-conditioner-air-conditioners-with-ionizer-refreshing-cool-aires-purifier-on-ac.jpg?s=1024x1024&w=is&k=20&c=ZDLGA4Q3sPfFkRt5HmbujM8DhM9ICU4AA0uCv7FAlpc=');
  }
  33% {
    background-image: url('https://media.istockphoto.com/id/1496035513/vector/realistic-conditioner-air-conditioners-with-ionizer-refreshing-cool-aires-purifier-on-ac.jpg?s=1024x1024&w=is&k=20&c=ZDLGA4Q3sPfFkRt5HmbujM8DhM9ICU4AA0uCv7FAlpc=');
  }
  66% {
    background-image: url('https://media.istockphoto.com/id/1496035513/vector/realistic-conditioner-air-conditioners-with-ionizer-refreshing-cool-aires-purifier-on-ac.jpg?s=1024x1024&w=is&k=20&c=ZDLGA4Q3sPfFkRt5HmbujM8DhM9ICU4AA0uCv7FAlpc=');
  }
  100% {
    background-image: url('https://media.istockphoto.com/id/1496035513/vector/realistic-conditioner-air-conditioners-with-ionizer-refreshing-cool-aires-purifier-on-ac.jpg?s=1024x1024&w=is&k=20&c=ZDLGA4Q3sPfFkRt5HmbujM8DhM9ICU4AA0uCv7FAlpc=');
  }
}

.bg-slider {
  background-size: cover;
  background-position: center;
  animation: bgSlider 12s infinite;
  position: relative;
}

/* optional dark overlay */
.bg-slider::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}
